@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75,300..800;1,75,300..800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wdth" 100;
}

main {
  position: relative;
  background-color: rgb(28, 28, 28);
}

.condensed-text {
  font-variation-settings: "wdth" 65;
}
#about-us {
  background-image: url("/footer-bg.jpg");
  background-size: cover;
  overflow: hidden;
  height: 27rem;
}

#usefull-info {
  background-color: rgb(8, 130, 249);
}

#follow-us {
  background-color: rgb(48, 48, 48);
  color: rgb(8, 130, 249);
}

#sign-up-button {
  color: white;
  background: none;
  border-style: solid;
  border-color: rgb(8, 130, 249);
  padding: 10pt;
  font-weight: bold;
  cursor: pointer;
}

#dc-logo-bg {
  transform: translateY(-65px);
  width: auto;
}

.cover {
  display: flex;
  height: 190px;
  width: 190px;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15pt;
}

.cover img {
  height: 156%;
}

figure {
  text-transform: uppercase;
  font-size: 11pt;
}

#load-more-button {
  display: flex;
  justify-self: center;
  padding: 8px 60px 8px 60px;
  color: white;
  font-weight: bold;
  background-color: rgb(8, 130, 249);
  border: 0;
}

#jumbotron {
  background-image: url("/jumbotron.jpg");
  width: 100%;
  height: 22rem;
  background-repeat: no-repeat;
  background-size: cover;
}

#label-current-series {
  position: absolute;
  top: -27px;
  left: 15%;
  padding: 5px 30px 5px 30px;
  background-color: rgb(8, 130, 249);
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-variation-settings: "wdth" 65;
}
